node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICFeuWgoJyjnfr74MhNLtvzPYpR54Fy0dX0kr6/CiCrA maksimushkin92@gmail.com
